$main-color:  #323264;
$alt-color: #46466E;
$color-accent: #F0145A;
$second-color: #161618;
$mute-color: #313136;
$regular-color:#24A3FF;
$grey-text: #B3B3BA;
$main-text-color: rgba(255, 255, 245, .86);
$second-text-color: rgba(235, 235, 245, .6);
$hero-name-background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
$red-text: linear-gradient(#F0145A, #EF8080);
$brand-color: #646cff;
$brand-light-color: #747bff;
$regular-hover:#0085FF;



$base-fz: 16px;
$fz-large:20px;
$base-lh: 1.2; 
$base-ff: "Montserrat", sans-sarif;
